<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.sys.dao.NoticeUserDao">


    <resultMap type="com.hxy.sys.entity.NoticeUserEntity" id="noticeUserMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="noticeId" column="notice_id"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="Base_Column_List" >
		id, 
		user_id, 
		notice_id, 
		status, 
		remark
    </sql>

	<select id="queryObject" resultType="com.hxy.sys.entity.NoticeUserEntity" resultMap="noticeUserMap">
		select
		<include refid="Base_Column_List" />
		from sys_notice_user
		where id = #{value}
	</select>

	<select id="queryList" resultType="com.hxy.sys.entity.NoticeUserEntity" resultMap="noticeUserMap">
		select
		<include refid="Base_Column_List" />
		from sys_notice_user
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

    <select id="queryListByBean" resultType="com.hxy.sys.entity.NoticeUserEntity" resultMap="noticeUserMap">
        select
        <include refid="Base_Column_List" />
        from sys_notice_user
        WHERE 1=1
    </select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from sys_notice_user
	</select>
	 
	<insert id="save" parameterType="com.hxy.sys.entity.NoticeUserEntity">
		insert into sys_notice_user
		(
			`id`, 
			`user_id`, 
			`notice_id`, 
			`status`, 
			`remark`
		)
		values
		(
			#{id}, 
			#{userId}, 
			#{noticeId}, 
			#{status}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.sys.entity.NoticeUserEntity">
		update sys_notice_user 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="noticeId != null">`notice_id` = #{noticeId}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByNoticeIdUserId" parameterType="com.hxy.sys.entity.NoticeUserEntity">
		update sys_notice_user
		<set>
			<if test="status != null">`status` = #{status}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where user_id = #{userId} AND notice_id = #{noticeId}
	</update>
	
	<delete id="delete">
		delete from sys_notice_user where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from sys_notice_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>