<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
#parse("sys/header.html")
</head>
<body>
	<di class="main-container" id="main-container">

		<div id="search">
			<form class="layui-form" id="search-from" action="${webRoot}/demo/article/list">
				<div class="row">
					<div class="col-md-4">
						<div class="col-md-3">
							<label class="layui-form-label">关键字:</label>
						</div>
						<div class="col-md-6">
							<input type="text" name="keyWords" placeholder="搜索关键字"  class="layui-input" >
						</div>
						<div class="col-md-3">
							<button class="layui-btn" id="searchSubmit"><i class="layui-icon">&#xe615;</i>搜 索</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div id="resultList">
			<div style="width: 25%;margin-top: 30px;">
				<div>
					<a href="#">双世宠妃_百度百科</a>
				</div>
				<div>
					<label>简介：《双世宠妃》是由企鹅影视出品，余洲影视承制的古装穿越爱情网络剧，该剧由元德执导， 杨十夜担任编剧，赵洁、杨朔担任总制片人，邢昭林、梁洁、孙艺宁、辛瑞琪、钟祺、王瑞昌...</label>
				</div>
			</div>
			<div style="width: 25%;margin-top: 30px;">
				<div>
					<a href="#">双世宠妃_百度百科</a>
				</div>
				<div>
					<label>简介：《双世宠妃》是由企鹅影视出品，余洲影视承制的古装穿越爱情网络剧，该剧由元德执导， 杨十夜担任编剧，赵洁、杨朔担任总制片人，邢昭林、梁洁、孙艺宁、辛瑞琪、钟祺、王瑞昌...</label>
				</div>
			</div>
			<div style="width: 25%;margin-top: 30px;">
				<div>
					<a href="#">双世宠妃_百度百科</a>
				</div>
				<div>
					<label>简介：《双世宠妃》是由企鹅影视出品，余洲影视承制的古装穿越爱情网络剧，该剧由元德执导， 杨十夜担任编剧，赵洁、杨朔担任总制片人，邢昭林、梁洁、孙艺宁、辛瑞琪、钟祺、王瑞昌...</label>
				</div>
			</div>
			<div style="width: 25%;margin-top: 30px;">
				<div>
					<a href="#">双世宠妃_百度百科</a>
				</div>
				<div>
					<label>简介：《双世宠妃》是由企鹅影视出品，余洲影视承制的古装穿越爱情网络剧，该剧由元德执导， 杨十夜担任编剧，赵洁、杨朔担任总制片人，邢昭林、梁洁、孙艺宁、辛瑞琪、钟祺、王瑞昌...</label>
				</div>
			</div>
			<div style="width: 25%;margin-top: 30px;">
				<div>
					<a href="#">双世宠妃_百度百科</a>
				</div>
				<div>
					<label>简介：《双世宠妃》是由企鹅影视出品，余洲影视承制的古装穿越爱情网络剧，该剧由元德执导， 杨十夜担任编剧，赵洁、杨朔担任总制片人，邢昭林、梁洁、孙艺宁、辛瑞琪、钟祺、王瑞昌...</label>
				</div>
			</div>
		</div>
	</di>
</body>
</html>