<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.activiti.dao.ExtendActBusinessDao">


    <resultMap type="com.hxy.activiti.entity.ExtendActBusinessEntity" id="extendActBusinessMap">
        <result property="id" column="id"/>
        <result property="bapid" column="bapid"/>
        <result property="baid" column="baid"/>
        <result property="name" column="name"/>
        <result property="actKey" column="act_key"/>
        <result property="classurl" column="classurl"/>
        <result property="type" column="type"/>
        <result property="parentId" column="parent_id"/>
        <result property="sort" column="sort"/>
        <result property="open" column="open"/>
        <result property="remark" column="remark"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List" >
		id, 
		name, 
		bapid,
		baid,
		act_key,
		classurl, 
		type, 
		parent_id, 
		sort, 
		open, 
		remark, 
		create_id, 
		create_time, 
		update_id, 
		update_time
    </sql>

	<select id="queryObject" resultType="com.hxy.activiti.entity.ExtendActBusinessEntity" resultMap="extendActBusinessMap">
		select
		<include refid="Base_Column_List" />,(SELECT name FROM extend_act_business b WHERE b.id=a.parent_id) AS parentName
		from extend_act_business a
		where id = #{value}
	</select>

	<!--根据流程key查询-->
	<select id="queryByActKey" resultType="com.hxy.activiti.entity.ExtendActBusinessEntity" resultMap="extendActBusinessMap">
		select
		<include refid="Base_Column_List" />
		from extend_act_business
		where act_key = #{value}
	</select>

	<select id="queryBusTree" resultType="com.hxy.activiti.entity.ExtendActBusinessEntity" resultMap="extendActBusinessMap">
		select
		<include refid="Base_Column_List" />
		from extend_act_business
		where type = #{0} OR type = #{1}
	</select>

	<select id="queryList" resultType="com.hxy.activiti.entity.ExtendActBusinessEntity" resultMap="extendActBusinessMap">
		select
		<include refid="Base_Column_List" />
		from extend_act_business
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<!--根据extend_act_model中的modelid查询对应业务-->
	<select id="queryActBusByModelId" resultType="com.hxy.activiti.entity.ExtendActBusinessEntity" resultMap="extendActBusinessMap">
		select
			b.id AS id,b.classurl AS classurl
		from extend_act_model m LEFT JOIN extend_act_business b ON m.extend_act_business_id=b.id
		WHERE  m.model_id= #{modelId}
	</select>

	<!--查询所有业务相关的回调函数-->
	<select id="queryCalBackByPid" resultType="java.util.Map">
		select
		   classurl AS value , name
		from extend_act_business
		WHERE parent_id = #{parentId}

	</select>

	<select id="queryListByBean" resultType="com.hxy.activiti.entity.ExtendActBusinessEntity" resultMap="extendActBusinessMap">
		select
		<include refid="Base_Column_List" />,(SELECT name FROM extend_act_business b WHERE b.id=a.parent_id) AS parentName
		from extend_act_business a
		WHERE 1=1
		<if test="name !=null and name != '' ">
			AND name LIKE concat('%',#{name},'%')
		</if>
		<if test="type !=null and type != '' ">
			AND type = #{type}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from extend_act_business
	</select>
	 
	<insert id="save" parameterType="com.hxy.activiti.entity.ExtendActBusinessEntity">
		insert into extend_act_business
		(
			`id`, 
			`name`, 
			`bapid`,
			`baid`,
			`act_key`,
			`classurl`, 
			`type`, 
			`parent_id`, 
			`sort`, 
			`open`, 
			`remark`, 
			`create_id`, 
			`create_time`, 
			`update_id`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{name}, 
			#{bapid},
			#{baid},
			#{actKey},
			#{classurl}, 
			#{type}, 
			#{parentId}, 
			#{sort}, 
			#{open}, 
			#{remark}, 
			#{createId}, 
			#{createTime}, 
			#{updateId}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.activiti.entity.ExtendActBusinessEntity">
		update extend_act_business 
		<set>
			<if test="actKey != null">`act_key` = #{actKey}, </if>
			<if test="classurl != null">`classurl` = #{classurl}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="open != null">`open` = #{open}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="createId != null">`create_id` = #{createId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateId != null">`update_id` = #{updateId}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from extend_act_business where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from extend_act_business where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>