<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div style="padding: 10px 0 20px 10px;">
        <h3>项目地址</h3>
        <ul>
            <li>Git地址：<a href="https://github.com/huangxianyuan/hxyFrame.git" target="_blank">https://github.com/huangxianyuan/hxyFrame.git</a></li>
            <li>麻烦帮忙Watch、Star项目，这样才能关注到项目的最新进展，谢谢亲的支持！</li>
        </ul>
        <h3>学习交流QQ群</h3>
        <ul>
            <li>待定</li>
        </ul>
    </div>
</div>
</body>
</html>