<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目介绍</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div style="padding: 10px 0 20px 10px;">
        <h3>项目介绍</h3>
        <ul>
            <li>hxyFrame是一个OA办公系统，采用流行的框架springMvc+spring+mybatis+shiro+ehcache开发,还集成了权限管理（菜单权限、</br>
                数据权限），完善的代码生成器，solr全文搜索引擎，activiti工作流程引擎，cas单点登陆等功能，后期还会考虑改造成Dubbo微</br>
                服务化,做到模块的相对独立，使用更加灵活，努力做到快速开发OA办公系统。 感兴趣可以Watch、Start持续关注项目最新状态,</br>
                加入QQ群：210315502 大家一起学习开发解决问题。
            </li>
        </ul>
        <h3>项目地址</h3>
        <ul>
            <li>项目demo:<a href="http://hxy982610150.6655.la:24736/frame-admin" target="_blank">http://hxy982610150.6655.la:24736/frame-admin</a> 帐户/密码:hxy/a</li>
            <li>Git地址：<a href="https://github.com/huangxianyuan/hxyFrame.git" target="_blank">https://github.com/huangxianyuan/hxyFrame.git</a></li>
            <li>oschina地址：<a href="https://git.oschina.net/huangxianyuan/hxyFrame.git" target="_blank">https://git.oschina.net/huangxianyuan/hxyFrame.git</a></li>
            <li>麻烦帮忙<b style="color: red">Watch、Star</b>项目，这样才能关注到项目的最新进展，谢谢亲的支持！</li>
        </ul>
        <h3>学习交流QQ群</h3>
        <ul>
            <li>210315502</li>
        </ul>
        <h3>捐赠</h3>
        <ul>
            <li>开源不易，维护更新更不容易，如果项目帮助到了你，给作者一点动力吧，项目才能更加完善强大。请捐赠时请备注捐赠信息！谢谢支持</li>
            <img src="../statics/images/pay.png"/>
        </ul>
    </div>
</div>
</body>
</html>