<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.sys.dao.SolrArticleDao">


    <resultMap type="com.hxy.sys.entity.SolrArticleEntity" id="solrArticleMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateId" column="update_id"/>
    </resultMap>

    <sql id="Base_Column_List" >
		id, 
		title, 
		content, 
		create_time, 
		update_time, 
		create_id, 
		update_id
    </sql>

	<select id="queryObject" resultType="com.hxy.sys.entity.SolrArticleEntity" resultMap="solrArticleMap">
		select
		<include refid="Base_Column_List" />
		from solr_article
		where id = #{value}
	</select>

	<select id="queryList" resultType="com.hxy.sys.entity.SolrArticleEntity" resultMap="solrArticleMap">
		select
		<include refid="Base_Column_List" />
		from solr_article
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

    <select id="queryListByBean" resultType="com.hxy.sys.entity.SolrArticleEntity" resultMap="solrArticleMap">
        select
        <include refid="Base_Column_List" />
        from solr_article
        WHERE 1=1
    </select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from solr_article
	</select>
	 
	<insert id="save" parameterType="com.hxy.sys.entity.SolrArticleEntity">
		insert into solr_article
		(
			`id`, 
			`title`, 
			`content`, 
			`create_time`, 
			`update_time`, 
			`create_id`, 
			`update_id`
		)
		values
		(
			#{id}, 
			#{title}, 
			#{content}, 
			#{createTime}, 
			#{updateTime}, 
			#{createId}, 
			#{updateId}
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.sys.entity.SolrArticleEntity">
		update solr_article 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="createId != null">`create_id` = #{createId}, </if>
			<if test="updateId != null">`update_id` = #{updateId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from solr_article where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from solr_article where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>